@font-face
{
    font-family: Azonix;
    src: url("../fonts/Azonix.otf");
}

@font-face
{
    font-family: Rajdhani;
    src: url("../fonts/RajdhaniMedium.ttf")
}

body
{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}

#titlebar 
{
    position: relative;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0 10px 0px #888;
    background-color: #ffffff;
    z-index: 5;
}

#logo
{
    position: relative;
    left: 5%;
    top: 33px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: Azonix;
}

#navburger
{
    display: none;
}

#nav
{
    position: relative;
    width: 100%;
    height:35px;
    box-shadow: 0px 5px 10px 0px #888;
    z-index: 4;
    background-color: #ffffff;
}

#navfixed
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height:35px;
    box-shadow: 0px 5px 10px 0px #888;
    z-index: 4;
    background-color: #ffffff;
}

#navlinkcontainer
{
    position: relative;
    width: 80%;
    left: 10%;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.navlinks
{
    position: relative;
    text-decoration: none;
    color: #5F6368;
    font-size: 15px;
    font-family: Azonix;
    transition-duration: 0.25s;
}

.navlinks:hover
{
    color: #292a2c;
    transition-duration: 0.25s;
}

#aboutmelink
{
    color: #292a2c;
}

#portfoliolink
{
    color: #292a2c;
}

#aboutme
{
    position: relative;
    width: 100%;
    height: 1px;
}

#maincontainer
{
    position: relative;
    width: 80%;
    left: 10%;
    top: 35px;
    z-index: 3;
    background-color: #ffffff;
}

#aboutmecontainer
{
    position: relative;
    width: 100%;
}

#headshot
{
    width: 300px;
    height: auto;
    padding-right: 2%;
    padding-bottom: 1%;
    float: left;
}

#aboutmetext
{
    position: relative;
    font-family: Rajdhani;
    font-size: 20px;
}

#portfolio
{
    position: relative;
    width: 100%;
    height: 1px;
}

#portfoliocontainer
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}

.portfoliobox
{
    position: relative;
    width: 350px;
    height: 400px;
}

.portfoliobox img:hover
{
    box-shadow: 0px 5px 10px 5px #888;
    transition-duration: 0.25s;
}

.portfoliobox p
{
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Azonix;
}

.portfoliobox img
{
    box-shadow: 0px 5px 10px 0px #888;
    width: 350px;
    height: 350px;
    transition-duration: 0.25s;
}

#footercontainer
{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
}

#footer
{
    position: relative;
    bottom: -100px;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-top: 2px solid #e4e4e4
}

#copyright
{
    position: relative;
    color: #5F6368;
    top: 18px;
    left: 15px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Rajdhani;
}